.container-1,
.container-2,
.container-3 {
  margin: 0 auto;
  border: 1px solid black;
  width: 70%;
  text-align: center;
}

.flex-box-container-1,
.flex-box-container-2,
.flex-box-rps {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-box-container-1 div {
  padding: 10px;
}

.flex-box-container-2 img {
  margin: 10px;
  height: 130px;
  width: 320;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}
/* challange 3 */
.flex-box-rps img:hover {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}
